h1 {
    text-align: center;
    font-size: 100px;
}
h2 {
    font-size: 50px;
    text-align: center;
    background-color: brown;
    color: #f0f8ff;
    padding: 25px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 30px;
    border: 2px solid black;
}
.left {
    display: block;
    margin-right: auto;
    padding-left: 0%;
    width: 200px;
}
td {
    font-size: 30px;
    padding-top: 5px;
    padding-left: 20px;
}
th {
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
    padding-top: 0%;
}
footer {
    text-align: center;
    font-size: 40px;
    padding: 100px;
}
.bar1, .bar2, .bar3 {
    width: 100px;
    height: 25px;
    background-color: #222121;
    margin: 10px 0;
    transition: 0.4s;
}
a {
    display: block;
    color: rgb(3, 3, 3);
    text-decoration: none;
    padding: 25px 25px;
    font-size: 25px;
}
.dropdown .content {
    display: none;
    position: absolute;
    background-color: #cec9c9;
    min-width: 150px;
    box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content {
    display: block;
}
.dropdown button {
    cursor: pointer;
    border: none;
    float: left;
}
